$textColor: white;
$mainColor: orange;
$greenLight: #eeffed;
$orangeLight: #fff9ed;
$pinkLight: #ffebeb;
$purpleLight: #f1edff;
$colorgrey: #f4f4f4;

$fontFamily: 'Poppins', sans-serif;

$phoneWidth: 360px;
$tabletWidth: 768px;
$desktopWidth: 1366px;
$lgDesktop: 1920px;

$borderPrimary: #e3e3e3;
$padding1: 1rem;
$padding2: 2rem;
